/* Modified version of the old http://tools.wmflabs.org/style.css */
body {
  margin:0;
  padding:0;
  width:100%;
  background:#fff;
  font-family: sans-serif;
}
th, td {
  text-align: left;
  vertical-align: top;
}
a {
  color:#369;
}
h1, h2, h3 {
  margin:.8em 0 .2em 0;
  padding:0;
}
h2 {
  border-bottom: 2px solid #1b61dd;
}
p {
  margin:.4em 0 .8em 0;
  padding:0;
}
img {
  margin:10px 0 5px;
}
/* column container */
.colmask {
  clear:both;
  float:left;
  width:100%;     /* width of whole page */
  overflow:hidden;  /* This chops off any overhanging divs */
}
/* 2 column left menu settings */
.leftmenu {
  background:#f8f8f8;
}
.leftmenu .colright {
  float:left;
  width:200%;
  position:relative;
  left:200px;
  background:#fff;
}
.leftmenu .col1wrap {
  float:right;
  width:50%;
  position:relative;
  right:200px;
  padding-bottom:1em;
}
.leftmenu .col1 {
  margin:0 15px 0 215px;
  position:relative;
  right:100%;
  overflow:hidden;
}
.leftmenu .col2 {
  float:left;
  width:170px;
  position:relative;
  right:185px;
}
#logo {
  text-align: center;
}
.col2 ul {
  margin: 0 0 20px;
  list-style-type: none;
  padding: 0 0 0 15px;
}
.col2 ul li {
  padding: 0;
}

/* Backwards and goofy */
.tool-maintainers a {
  display: block;
}

/* Small screen layout */
@media only screen and (max-width:600px) {
  body {
    min-width:initial;
  }
  .col2 {
    border-top:solid;
    text-align:center;
  }
  .col2 ul {
    padding-left:0;
  }
  .col2 ul li {
    display:inline;
  }
  .colmask,
  .leftmenu .colright,
  .leftmenu .col1wrap,
  .leftmenu .col1,
  .leftmenu .col2 {
    float:none;
    margin:.2em;
    overflow:visible;
    position:static;
    width:auto;
  }
}

table.result td,
table.result th {
	padding: 0.25em;
	text-align: left;
	vertical-align: middle;
}

table.result tr.error th,
table.result tr.error td {
	color: #7f0000;
	font-weight: bold;
}

table.result tr.warning th,
table.result tr.warning td {
	color: #7f7f00;
	font-weight: bold;
}

table.result tr.highlight td {
	border: 1px solid black;
}

table.status {
	margin-top: 1em;
}

table.status th[scope=col] {
	min-width: 15em;
}

table.status caption {
	border-bottom: 2px solid #1B61DD;
	font-weight: bold;
	text-align: left;
}

#logo a {
	font-weight: bold;
	text-decoration: none;
}

p.error {
	color: darkred;
	font-size: 1.5em;
	font-weight: bold;
}
