# Maven
/.mvn/wrapper/maven-wrapper.jar
/target/
/*/target/
/site/
# Eclipse
/.classpath
/.metadata/
/.project
/.settings/
/*/.classpath
/*/.metadata/
/*/.project
/*/.settings/
# IntelliJ IDEA
/.idea/
