<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>vCat</display-name>

	<servlet>
		<servlet-name>ToollabsVCatServlet</servlet-name>
		<servlet-class>vcat.toollabs.webapp.ToollabsVCatServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ToollabsCatgraphConverterServlet</servlet-name>
		<servlet-class>vcat.toollabs.webapp.ToollabsCatgraphConverterServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>status</servlet-name>
		<jsp-file>/WEB-INF/status.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>ToollabsVCatServlet</servlet-name>
		<url-pattern>/render</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ToollabsVCatServlet</servlet-name>
		<!-- also hardcoded in the Servlet -->
		<url-pattern>/catgraphRedirect</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ToollabsCatgraphConverterServlet</servlet-name>
		<url-pattern>/catgraphConvert</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>status</servlet-name>
		<url-pattern>/status</url-pattern>
	</servlet-mapping>

</web-app>
